@import url('../../../components/common/styles/UserLabel.css');

.mixers-view {
    overscroll-behavior-y: none;
    padding-top: 0;
    --sticky-cover-height: 14px;
    position: relative;
    z-index: 1;
    background: transparent;
}
