@import url('../../../components/common/styles/UserLabel.css');

.managers-view {
    overscroll-behavior-y: none;
    padding-top: 0;
    --sticky-cover-height: 14px;
    position: relative;
    z-index: 1;
    background: transparent;
}

.manager-role-badge {
    background-color: var(--accent);
    color: var(--text-light);
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
}

.modal-body .form-group.role-selection {
    margin-top: 16px;
}

.role-icon {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--text-secondary);
}

.role-name {
    font-weight: 600;
    font-size: 14px;
}

.status-label {
    font-size: 0.95rem;
    color: var(--text-secondary);
}

@media (max-width: 800px) {

}